* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* form contant */
.form-contant {
  margin: 10px;
  width: 400px;
  padding: 15px;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
/* card-contant */
.card-contant {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.card-contant > .title {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.card-contant > .select {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid blue;
  color: rgb(82, 81, 81);
}
.card-contant > div > .btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  color: whitesmoke;
  letter-spacing: 1px;
  font-weight: 600;
  border: 1px solid blue;
  background-color: #008cba;
  cursor: pointer;
}
.card-contant > .container-render {
  min-height: 100px;

  background-color: whitesmoke;
  border: 1px solid blue;
  padding: 10px;
  border-radius: 8px;
  color: rgb(82, 81, 81);
  /* overflow-y: auto; */
  /* white-space: pre-wrap; */
}
