* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container-form {
  background-color: #fff;
  padding: 15px;
  border-radius: 7px;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-form > h1 {
  color: rgb(93, 92, 92);
}
/* contant input */
.contant-input {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contant-input > input {
  text-align: center;
  width: 77px;
  border-radius: 6px;
  border: none;
  background-color: rgb(206, 206, 206);
  font-size: 16px;
  padding: 7px 17px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* contant slider */
.contant-slider {
  margin-top: 20px;
  width: 100%;
  height: 8px;
  position: relative;
  border-radius: 10px;
  background-color: gainsboro;
}
.contant-slider > .slider {
  position: absolute;
  height: 100%;
  left: 10%;
  right: 50%;
  background-color: #17a2b8;
  border-radius: 10px;
}
/* contant range */
.contant-range {
  margin-top: 10px;
  position: relative;
}
.contant-range > input {
  top: -22px;
  position: absolute;
  width: 100%;
  background: none;
  pointer-events: none;
  cursor: pointer;
  -webkit-appearance: none;
}
/* style for the range thum in webkit browser */
.contant-range > input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8; /* ពណ៌ក្បាល slider */
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

/* for firefox browsers */
.contant-range > input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
}
